<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./SignUpPage1.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Krona One:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Space Grotesk:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap"
    />
  </head>
  <body>
    <div class="sign-up-page1">
      <main class="bg14">
        <div class="bg-child11"></div>
        <div class="sign-up-container">
          <div class="logo-mini-wrapper1">
            <div class="logo-mini4">
              <div class="countrol4">Countrol</div>
            </div>
          </div>
        </div>
        <div class="logo-mini5">
          <div class="bankist1">
            <p class="countrol5">Countrol</p>
          </div>
        </div>
        <h2>Sign up</h2>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>
          <div class="form-inputs">
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" }%>
            <%= f.input :password,
                        required: true,
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation,
                        required: true,
                        input_html: { autocomplete: "new-password" } %>
          </div>
          <div class="form-actions">
            <%= f.button :submit, "Sign up" %>
          </div>
        <% end %>
        <%= render "devise/shared/links" %>
        <div class="full-name-input-parent">
          <div class="full-name-input">
            <h1 class="create-your-account-container1">
              <p class="create1">Create</p>
              <p class="your-account3">your account</p>
            </h1>
          </div>
          <div class="lets-safe-your-container1">
            <p class="lets-safe-your1">
              Let's safe your transfer money our bank.
            </p>
            <p class="enter-your-details1">Enter your details to sign up.</p>
          </div>
          <div class="frame-wrapper4">
            <div class="full-name-container-parent">
              <div class="full-name-container">
                <div class="bg15">
                  <div class="bg-child12"></div>
                  <input
                    class="full-name1"
                    placeholder="Full Name"
                    type="text"
                  />

                  <div class="icon-wrapper6">
                    <img class="icon8" alt="" src="<%= asset_path('icon@2x.png') %>" />
                  </div>
                </div>
              </div>
              <div class="full-name-container1">
                <div class="bg16">
                  <div class="bg-child13"></div>
                  <input class="email4" placeholder="Email..." type="text" />

                  <div class="icon-wrapper7">
                    <img class="icon9" alt="" src="<%= asset_path('icon@2x.png') %>" />
                  </div>
                </div>
              </div>
              <div class="full-name-container2">
                <div class="bg17">
                  <div class="bg-child14"></div>
                  <input
                    class="password4"
                    placeholder="Password"
                    type="text"
                  />

                  <div class="icon-wrapper8">
                    <img class="icon10" alt="" src="<%= asset_path('icon-1.svg') %>" />
                  </div>
                </div>
              </div>
              <div class="bg18">
                <div class="bg-child15"></div>
                <input
                  class="confirm-password2"
                  placeholder="Confirm Password"
                  type="text"
                />

                <div class="background-sign-up">
                  <img class="icon11" alt="" src="<%= asset_path('icon-31.svg') %>" />
                </div>
              </div>
              <div class="forgot-password-frame">
                <div class="forgot-password3">Forgot Password?</div>
              </div>
            </div>
          </div>
        </div>
        <div class="sign-up-button">
          <button class="button3" id="button">
            <div class="bg19">
              <div class="background-sign-up-inst"></div>
            </div>
            <b class="sign-up3">Sign Up</b>
          </button>
        </div>
        <div class="text-wrapper1">
          <div class="text7" id="textContainer">
            <div class="already-have-an-container1">
              <span class="already-have-an1">Already have an account? </span>
              <span class="sign-in5">Sign In</span>
            </div>
          </div>
        </div>
      </main>
    </div>

    <script>
      var button = document.getElementById("button");
      if (button) {
        button.addEventListener("click", function (e) {
          // Please sync "Mine Page" to the project
        });
      }
      
      var textContainer = document.getElementById("textContainer");
      if (textContainer) {
        textContainer.addEventListener("click", function (e) {
          window.location.href = "./SignInPage1.html";
        });
      }
    </script>
  </body>
</html>