<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Krona One:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Space Grotesk:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap"
    />
  </head>

  <body>
    <div class="forgot-password2">
      <main class="bg10">
        <div class="bg-child6"></div>
        <div class="bg-inner1">
          <div class="arrow-parent">
            <div class="arrow">
              <div class="bg11">
                <div class="bg-child7"></div>
              </div>
              <img
                class="icon6"
                loading="lazy"
                alt=""
                src="./public/icon@2x.png"
              />
            </div>
            <div class="forgot-password-frame">
              <h2 class="forgot-password3">Forgot your password?</h2>
            </div>
          </div>
        </div>
        <section class="enter-the-email-associated-wit-parent">
          <div class="enter-the-email-container">
            <p class="enter-the-email">
              Enter the email associated with your account
            </p>
            <p class="and-well-send">
              and we'll send an email with instructions to
            </p>
            <p class="reset-your-password">reset your password.</p>
          </div>
          <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= f.error_notification %>
            <div class="form-inputs">
              <%= f.input :email, required: true, autofocus: true, input_html: { autocomplete: "email" }, wrapper_html: { class: "frame-wrapper1" } do %>
                <div class="bg-group">
                  <div class="bg12">
                    <div class="bg-child8"></div>
                    <%= f.input_field :email, placeholder: "Email...", class: "email2" %>
                    <div class="icon-wrapper2">
                      <img class="icon7" alt="" src="./public/icon@2x.png" />
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="form-actions">
              <%= f.button :submit, "Send me reset password instructions", class: "bg13" do %>
                <div class="bg-child9"></div>
                <b class="send">Send</b>
              <% end %>
            </div>
          <% end %>
        </section>
        <div class="back-to-again-wrapper">
          <div class="back-to-again">Back to again</div>
        </div>
      </main>
    </div>
  </body>
</html>
