<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
      <ul class="list-unstyled">

        <% if user_signed_in? %>
          <!-- select wallet code-->
          <% if @wallet&.persisted? && current_page?(wallet_path(@wallet)) %>

          <% end %>

          <div class="nav-item dropdown p-2">
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= image_tag "https://ca.slack-edge.com/T02NE0241-U0654LXLH7G-fb2b4326d4ba-512", class: "avatar", alt: "dropdown menu" %>
          </a>
            <div class="dropdown-menu dropdown-menu-start mt-1 rounded-5" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Another", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </div>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>


        <% end %>
      </ul>
    </div>
  </div>
