<div class="container">
  <div class="wallet-select mt-4 d-flex justify-content-center">
    <p class="border rounded-pill border-black p-1 px-3"> <%= @wallet.name %> Wallet <i class="fa-solid fa-chevron-down"></i></p>


  </div>

  <div class="general-info d-flex justify-content-center mt-2 mb-5">
    <div class="balance text-center">
      <p>Total Balance</p>
      <p class="text fs-1">$<%= @wallet.balance %></p>
    </div>
  </div>

    <div class="new-transaction-links d-flex justify-content-center gap-5">
      <%#= link_to "+", new_wallet_transaction_path(@wallet), class:"link-offset-2 link-underline link-underline-opacity-0 fs-1 text-black" %>
      <%= link_to "+", new_wallet_transaction_path(@wallet, transaction_type: 'income'), class:"link-offset-2 link-underline link-underline-opacity-0 fs-1 text-black" %>
      <%= link_to "-", new_wallet_transaction_path(@wallet, transaction_type: 'expense'), class:"link-offset-2 link-underline link-underline-opacity-0 fs-1 text-black" %>
    </div>

  <div class="graph-stats" height="400px">
  <p></p>
  </div>

  <div class="transactions">
   <div class="headlines d-flex justify-content-between">
    <h4>Recent Activity</h4>
    <p><%= link_to "See All", wallet_transactions_path(@wallet), class:"link-offset-2 link-underline link-underline-opacity-0" %></p>
   </div>
    <div class="transaction-cards">
    <ul class="list-unstyled">
      <% @transactions.each do |transaction| %>

      <%= link_to transaction_path(transaction), class:"link-offset-2 link-underline link-underline-opacity-0" do %>
        <li class="d-flex justify-content-between border align-items-center border-black rounded-5 p-1 px-4 mb-2">
          <div class="d-flex gap-4 align-items-center">
            <span class="text fs-1"><%= transaction.category.icon %></span>

            <div class="name-category">
              <p class="text fs-5 mb-0 text-black"><%= transaction.title %></p>
              <p class="text-secondary"><%= transaction.category.name %></p>
            </div>
          </div>

          <% if transaction.transaction_type == "income" %>
          <p class="text fs-6 mb-0 text-success fw-lighter"><strong>+<%= transaction.amount %></strong></p>
          <% else %>
          <p class="text fs-6 mb-0 text-danger fw-lighter"><strong>-<%= transaction.amount %></strong></p>
          <% end %>

        </li>
        <% end %>
      <% end %>
    </ul>
    </div>
  </div>

</div>
