<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />
  <%#= stylesheet_link_tag 'global', media: 'all' %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <!-- Add your font links here -->
</head>
<body>
  <div class="sign-in-page">
    <main class="bg">
      <div class="bg-child"></div>
      <div class="logo-mini-wrapper">
        <div class="logo-mini">
          <div class="countrol">Countrol</div>
        </div>
      </div>
      <section class="layer-1-wrapper">
        <img
          class="layer-1-icon"
          loading="lazy"
          alt=""
          src="<%= asset_path('layer-11.svg') %>"
        />
      </section>
      <section class="frame-parent">
        <div class="sign-in-your-account-wrapper">
          <h1 class="sign-in-your-container">
            <p class="sign-in">Sign in</p>
            <p class="your-account">your account</p>
          </h1>
        </div>
        <div class="deliver-your-order-container">
          <p class="deliver-your-order">
            Secure your financial future without hesitation.
          </p>
        </div>
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="frame-wrapper">
            <div class="frame-group">
              <div class="bg-parent">
                <div class="bg1">
                  <div class="bg-item"></div>
                  <%= f.input :email,
                              required: false,
                              autofocus: true,
                              label: false,
                              placeholder: "Email...",
                              input_html: { autocomplete: "email", class: "email" } %>
                  <div class="icon-wrapper">
                    <%= image_tag 'icon@2x.png', class: 'icon', alt: '' %>
                  </div>
                </div>
                <div class="bg2">
                  <div class="bg-inner"></div>
                  <%= f.input :password,
                              required: false,
                              label: false,
                              placeholder: "Password",
                              input_html: { autocomplete: "current-password", class: "password" } %>
                  <div class="icon-container">
                    <%= image_tag 'icon.png', class: 'icon1', alt: '' %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="forgot-password-wrapper">
            <%= link_to "Forgot Password?", new_password_path(resource_name), class: "forgot-password" %>
          </div>
          <div class="button-wrapper">
            <button class="button" type="submit">
              <div class="bg3">
                <div class="rectangle-div"></div>
                <b class="sign-in1">Sign In</b>
              </div>
            </button>
          </div>
        <% end %>
        <div class="text-wrapper">
          <div class="text">
            <div class="dont-have-an-container">
              <span>Don't have an account? </span>
              <%= link_to 'Sign Up', new_registration_path(resource_name), class: 'sign-up' %>
            </div>
          </div>
        </div>
      </section>
    </main>
  </div>
</body>
</html>
