<div class="goals2">
  <main class="bg24">
    <div class="bg-child20"></div>
    <section class="bg-inner2">
      <div class="frame-parent3">
        <div class="arrow-container">
          <div class="arrow2">
            <div class="bg25">
              <div class="bg-child21"></div>
            </div>
            <%= link_to wallet_path(@wallet), class: 'icon9' do %>
              <%= image_tag asset_path('Goals_index/arrow.svg'), alt: '', loading: 'lazy' %>
            <% end %>
          </div>
          <div class="icon10">
            <div class="icon-inner">
              <div class="notification-parent">
                <div class="notification">
                  <div class="balance">
                    <div class="goals-wrapper">
                      <b class="goals3">Goals</b>
                    </div>
                    <%= image_tag asset_path('Goals_index/notification@2x.png'), class: 'notification-icon', alt: '', loading: 'lazy' %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="frame-wrapper10">
          <div class="bg-parent5">
            <%= link_to new_wallet_goal_path(@wallet), class: 'bg26 add-icon-container' do %>
              <div class="bg-child22"></div>
              <%= image_tag asset_path('Goals_index/add.svg'), class: 'add-icon1', alt: '' %>
            <% end %>
          </div>
        </div>
      </div>
    </section>
    <section class="frame-parent4">
      <div class="my-goals-group">
        <b class="my-goals1">My goals</b>
      </div>
      <div class="frame-wrapper11">
        <div class="frame-parent5">
          <% @user_goals.each do |goal| %>
            <div class="goal-card">
              <div class="goal-icon">
                <%= image_tag asset_path('Goals_index/goal_icon.svg'), alt: '' %>
              </div>
              <div class="goal-details">
                <div class="goal-title"><%= goal.title %></div>
                <div class="goal-amount"><%= number_to_currency(goal.amount) %></div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </section>
  </main>
</div>