<div class="container">
<div class="dropdown d-flex justify-content-center" id="walletDropdown">
  <span class="global-effect-cursor border border-secondary bg-dark text-white-50 rounded-pill p-1 px-3 mb-3" onclick="toggleDropdown()" aria-expanded="false"> <%= @wallet.name %> Wallet <i class="fa-solid fa-chevron-down"></i></span>

  <ul class="dropdown-menu bg-dark list-unstyled border border-secondary rounded-5 text-center" id="walletDropdownMenu">
    <% @wallets.each do |wallet| %>
    <li>
      <p class='global-effect-cursor'><a href="<%= wallet_goals_path(wallet) %>" class="link-offset-2 link-underline link-underline-opacity-0 text-white-50"><%= wallet.name %></a></p>
    </li>
    <% end %>
    <li>
      <p><a href="<%= new_wallet_path %>" class="mb-0 link-offset-2 link-underline link-underline-opacity-0 text-white-50">Add wallet</a></p>
    </li>
  </ul>
</div>

<script>
  function toggleDropdown() {
    var dropdownMenu = document.getElementById("walletDropdownMenu");
    if (dropdownMenu.style.display === "none") {
      dropdownMenu.style.display = "block";
    } else {
      dropdownMenu.style.display = "none";
    }
  }
</script>

  <div class="goals2">
    <main class="bg24 gap-0">
      <div class="bg-child20"></div>
      <section class="bg-inner2">
        <div class="frame-parent3">
          <div class="arrow-container">
            <div class="icon10">
              <div class="icon-inner">
                <div class="notification-parent">
                  <div class="notification">
                    <div class="balance">
                      <div class="goals-wrapper text-center">
                        <!-- "Goals" text removed -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="frame-parent4">
        <div class="container txt-box">
          <div class="d-flex justify-content-center text-white">
            <h1>My Goals</h1>
          </div>
        </div>
        <div class="d-flex justify-content-center mb-4">
          <%= link_to new_wallet_goal_path(@wallet), class:"px-5 py-2 rounded-5 border border-white link-offset-2 link-underline link-underline-opacity-0 fs-1 text-white" do %>
            <i class="fa-solid fa-plus"></i>
          <% end %>
        </div>
        <div class="frame-wrapper11">
          <div class="frame-parent5">
            <% @user_goals.reject { |goal| goal.title == 'Main' }.each do |goal| %>
              <%= link_to wallet_goal_path(@wallet, goal), class:"link-offset-2 link-underline link-underline-opacity-0" do %>
                <div class="goal-card border bg-dark border-black rounded-5 p-3 px-4 mb-2">
                  <div class="d-flex gap-4 align-items-center mb-3">

                    <div class="goal-icon text fs-1">
                      <%= image_tag asset_path('Goals_index/goal_icon.svg'), alt: '' %>
                    </div>

                    <div class="goal-details">
                      <div class="goal-title text mb-0 fw-normal text-white" style="font-size:18px"><%= goal.title %></div>
                    </div>

                    <div class="goal-amount text amount-font mb-0 fw-lighter" style='font-size:18px; color:#1bbb9b'><strong><%= number_to_currency(goal.amount) %></strong></div>

                  </div>

                  <div class="progress-container-index mb-2 align-self-end">
                    <progress id='file' value="<%= goal.goal_progress %>" max="<%= goal.amount %>" ></progress>
                    <div class="progress-flag">
                      <i class="fas fa-flag"></i>
                    </div>
                    <div class="progress-percent"><%= goal.goal_progress_percent.round(2) %>%</div>
                  </div>

                </div>

              <% end %>
            <% end %>
          </div>
        </div>
      </section>
    </main>
  </div>
</div>
