<div class="goals">
  <main class="bg">
    <div class="bg-child"></div>
    <section class="bg-inner">
      <div class="frame-parent">
        <div class="arrow-parent">
          <div class="arrow">
            <div class="bg1">
              <div class="bg-item"></div>
            </div>
            <%= image_tag asset_path('Goals_index/icon@2x.png'), class: 'icon', alt: '' %>
          </div>
          <div class="balance-label">
            <div class="balance-label-inner">
              <div class="frame-group">
                <div class="frame-wrapper">
                  <div class="goals-parent">
                    <div class="goals1">
                      <b class="goals2">Goals</b>
                    </div>
                    <img
                      class="notification-icon"
                      loading="lazy"
                      alt=""
                      src="<%= asset_path('Goals_index/notification@2x.png') %>"
                    />
                  </div>
                </div>
                <div class="balance">Balance</div>
              </div>
            </div>
            <b class="b"><%= number_to_currency(@total_balance) %></b>
          </div>
        </div>
        <div class="frame-container">
          <div class="bg-parent">
            <%= link_to new_wallet_goal_path(@wallet), class: 'bg2' do %>
              <div class="rectangle-div"></div>
              <%= image_tag asset_path('Goals_index/add.svg'), class: 'add-icon', alt: '' %>
            <% end %>
            <div class="bg3">
              <div class="bg-child1"></div>
              <%= image_tag asset_path('Goals_index/minus.svg'), class: 'minus-icon', alt: '' %>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="frame-section">
      <div class="my-goals-parent">
        <b class="my-goals">My goals</b>
        <div class="see-all-wrapper">
          <%= link_to wallet_path(@wallet), class: 'see-all' do %>
            <i class="fa-solid fa-chevron-left"></i> Back
          <% end %>
        </div>
      </div>

      <!-- Your existing code starts here -->
      <ul>
        <% @user_goals.each do |goal| %>
          <% unless goal == @user_goals.first %>
            <%= link_to goal.title, wallet_goal_path(@wallet, goal) %>
          <% end %>
        <% end %>
      </ul>
      <!-- Your existing code ends here -->

      <!-- Add the goal progress partial here -->
      <%= render 'shared/goal_progress' %>

      <!-- Rest of the HTML structure -->
      <!-- ... -->
    </section>
  </main>
</div>