<div class="container">
  <div class="goals2">
    <main class="bg24">
      <div class="bg-child20"></div>
      <section class="bg-inner2">
        <div class="frame-parent3">
          <div class="arrow-container">
            <div class="arrow2">
              <div class="bg25">
                <div class="bg-child21"></div>
              </div>
              <%= link_to wallet_path(@wallet), class: 'icon9' do %>
                <%= image_tag asset_path('Goals_index/arrow.svg'), alt: '', loading: 'lazy' %>
              <% end %>
            </div>
            <div class="icon10">
              <div class="icon-inner">
                <div class="notification-parent">
                  <div class="notification">
                    <div class="balance">
                      <div class="goals-wrapper">
                        <b class="goals3 text-white">Goals</b>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="frame-wrapper10">
            <div class="bg-parent5">
              <div class="new-transaction-links d-flex justify-content-center gap-3">
                <%= link_to new_wallet_goal_path(@wallet), class:"px-5 py-2 rounded-5 border border-white link-offset-2 link-underline link-underline-opacity-0 fs-1 text-white" do %>
                  <i class="fa-solid fa-plus"></i>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="frame-parent4">
        <div class="my-goals-group">
          <b class="my-goals1 text-white">My goals</b>
        </div>
        <div class="frame-wrapper11">
          <div class="frame-parent5">
            <% @user_goals.each do |goal| %>
              <div class="goal-card d-flex justify-content-between border bg-dark align-items-center border-black rounded-5 p-3 px-4 mb-2">
                <div class="d-flex gap-4 align-items-center">
                  <div class="goal-icon text fs-1">
                    <%= image_tag asset_path('Goals_index/goal_icon.svg'), alt: '' %>
                  </div>
                  <div class="goal-details">
                    <div class="goal-title text mb-0 text-white" style="font-size:18px"><%= goal.title %></div>
                  </div>
                </div>
                <div class="goal-amount text amount-font mb-0 fw-lighter" style='font-size:18px; color:#1bbb9b'><strong><%= number_to_currency(goal.amount) %></strong></div>
                
              </div>
            <% end %>
          </div>
        </div>
      </section>
    </main>
  </div>
</div>