

<div class="container">
    <%= link_to :back, class:'link-offset-2 link-underline link-underline-opacity-0' do %>
      <i class="fa-solid fa-chevron-left mb-3 mt-4"></i> Back
    <% end %>
  <div class="row justify-content-center align-items-center p-3" style='height:80vh'>

    <div class="bg-dark bg-opacity-50 rounded-5 p-4 col-md-6" style='max-width:450px'>
    <h1 class='text-light text-center mb-4'>New Goal</h1>


  <%= simple_form_for [@wallet, @goal] do |f| %>
    <%= f.input :title, label_html: { class:'text-secondary' }, input_html: { value: @goal.title, class:'rounded-4 border-0 text-light', autocomplete: 'off', required: 'true', maxlength: 22 } %>
    <%= f.input :amount,
          required: true,
          placeholder: '0.00',
          label: false,
          label_html:
            { class:'m text-light' },
          input_html:
            { class:'text-center border py-3 text-center text-light rounded-pill border-top-0 border-bottom-0 border-end-0 border-start-0',
            style:'font-size:35px; font-family:"Space Grotesk"',
            maxlength: 10 } %>

    <%= f.input :date,
          :label => "End date",
          label_html: { class:'text-secondary' }, input_html: { class:'border-0 rounded-4 text-light' } %>
    <%= f.submit class: "btn rounded-4 mt-3 lh-lg text-center bg-light w-100" %>
  <% end %>

    </div>
  </div>
</div>
