
<div class="container pt-4">


  <%= link_to '<i class="fa-solid fa-chevron-left"></i> Back'.html_safe, wallet_transactions_path(@wallet), class:'link-offset-2 link-underline link-underline-opacity-0', style:'font-family:"Space Grotesk"' %>
  <h1 class="transactions d-flex text-center justify-content-center text-white my-4">Categories</h1>

  <div class="category-border bg-dark bg-opacity-50">
    <p class='text-center'>Total Expenses</p>
    <p class="text fs-1 justify-content-center text-white amount-font "><%= @expense_transactions %></p>
    <%= pie_chart @categories_for_chart, library: { plugins: { legend: { display: false }}, animation: { animateScale: true }}, download: {background: "#000000"} %>
  </div>

  <div class="transaction-cards m-4">
    <ul class="list-unstyled">
      <% @categories.each do |category| %>
      <%= link_to wallet_category_path(@wallet, category), class:"link-offset-2 link-underline link-underline-opacity-0" do %>
        <li class="d-flex justify-content-between border bg-dark align-items-center border-black rounded-5 p-3 px-4 mb-2 amount-font ">
          <div class="d-flex gap-4 align-items-center">
            <span class="text fs-1"><%= category.icon %></span>

            <div class="name-category">
              <p class="text mb-0 text-white" style="font-size:18px"><%= category.name %></p>
            </div>
          </div>

          <p class="text fs-5 mb-0 text-white "><%= ActionController::Base.helpers.number_to_currency(category.transactions.where(wallet: @wallet).sum(&:signed_amount)) %></p>

        </li>
        <% end %>
      <% end %>

    </ul>
  </div>
</div>
