<div class="container">
  <h1>Categories</h1>
<div class="balance text-center">
      <p>Total Balance</p>
      <p class="text fs-1 d-flex justify-content-center"><%= @wallet.balance %></p>

    </div>
<%= pie_chart @categories_for_chart, library: { plugins: { legend: { display: false }}, animation: { animateScale: true }}, download: {background: "#000000"} %>

  <div class="transaction-cards">
    <ul class="list-unstyled">
      <% @categories.each do |category| %>

      <%= link_to wallet_category_path(@wallet, category), class:"link-offset-2 link-underline link-underline-opacity-0" do %>
        <li class="d-flex justify-content-between border bg-dark align-items-center border-black rounded-5 p-3 px-4 mb-2">
          <div class="d-flex gap-4 align-items-center">
            <span class="text fs-1"><%= category.icon %></span>

            <div class="name-category">
              <p class="text mb-0 text-white" style="font-size:18px"><%= category.name %></p>
            </div>
          </div>

          <p class="text fs-5 mb-0 text-white ">$<%= category.transactions.where(wallet: @wallet).sum(&:signed_amount) %></p>

        </li>
        <% end %>
      <% end %>


      <%= link_to "Go Back", wallet_path(@wallet), class: "btn btn-secondary btn-lg mt-3 w-100" %>
    </ul>
  </div>
</div>
