<%= link_to '<i class="fa-solid fa-chevron-left"></i> Back'.html_safe, categories_path %>


<div class="container">
  <%= simple_form_for [@category] do |f| %>
    <%= f.input :name %>
    <%= f.input :icon %>
    <%= f.submit class: "btn btn-success mt-3 lh-lg w-100" %>
  <% end %>
</div>
