<div class="container">
<div class="dropdown d-flex justify-content-center" id="walletDropdown">
  <span class="global-effect-cursor border border-secondary bg-dark text-white-50 rounded-pill p-1 px-3 mb-3" onclick="toggleDropdown()" aria-expanded="false"> <%= @wallet.name %> Wallet <i class="fa-solid fa-chevron-down"></i></span>

  <ul class="dropdown-menu bg-dark list-unstyled border border-secondary rounded-5 text-center" id="walletDropdownMenu">
    <% @wallets.each do |wallet| %>
    <li>
      <p class='global-effect-cursor'><a href="<%= wallet_transactions_path(wallet) %>" class="link-offset-2 link-underline link-underline-opacity-0 text-white-50"><%= wallet.name %></a></p>
    </li>
    <% end %>
    <li>
      <p><a href="<%= new_wallet_path %>" class="mb-0 link-offset-2 link-underline link-underline-opacity-0 text-white-50">Add wallet</a></p>
    </li>
  </ul>
</div>

<script>
  function toggleDropdown() {
    var dropdownMenu = document.getElementById("walletDropdownMenu");
    if (dropdownMenu.style.display === "none") {
      dropdownMenu.style.display = "block";
    } else {
      dropdownMenu.style.display = "none";
    }
  }
</script>

  <h1 class="transactions d-flex justify-content-center text-white">Transactions</h1>

  <div class="transactions mt-3">
    <div class="graph-container d-flex justify-content-between">

      <% if @expense %>
        <div class="expense-line-chart line-chart bg-dark mb-5 rounded-5">
          <p class="expense d-flex justify-content-center m-0 mt-3">Expense</p>
          <p class="text fs-1 justify-content-center amount-font"><%= @wallet.balance_expense %></p>
          <%= area_chart @transactions.where(transaction_type: 1).group_by_day(:date).sum(:amount), colors: ["red"], download: {background: "#000000"}%>
        </div>
      <% end %>

      <% if @income %>
          <div class="income-line-chart line-chart bg-dark mb-5 rounded-5">
            <p class="income d-flex justify-content-center m-0 mt-3">Income</p>
            <p class="text fs-1 justify-content-center amount-font"><%= @wallet.balance_income %></p>
            <%= area_chart @transactions.where(transaction_type: 0).group_by_month(:date).sum(:amount), colors: ["#1bbb9b"], download: {background: "#000000"} %>
          </div>
      <% end %>
    </div>
  </div>

  <div class="headlines d-flex justify-content-between">
    <p><%= link_to "All", wallet_transactions_path(@wallet), class:"link-offset-2 link-underline link-underline-opacity-0" %></p>
    <p><%= link_to "Expense", wallet_transactions_path(@wallet, filter: "expense"), class:"link-offset-2 link-underline link-underline-opacity-0" %></p>
    <p><%= link_to "Income", wallet_transactions_path(@wallet, filter: "income"), class:"link-offset-2 link-underline link-underline-opacity-0" %></p>

    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle p-1 btn-filter" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Filter By
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" link_to, wallet_transactions_path>Day</a></li>
        <li><a class="dropdown-item" link_to, wallet_transactions_path>Month</a></li>
        <li><a class="dropdown-item" link_to, wallet_transactions_path>Year</a></li>
      </ul>
    </div>
  </div>

  <div class="transaction-cards">
    <ul class="list-unstyled">
      <% @transactions.reverse.each do |transaction| %>
        <%= link_to wallet_transaction_path(@wallet, transaction), class:"link-offset-2 link-underline link-underline-opacity-0" do %>
          <li class="d-flex justify-content-between border bg-dark align-items-center border-black rounded-5 p-3 px-4 mb-2">
            <div class="d-flex gap-4 align-items-center">
              <span class="text fs-1"><%= transaction.category.icon %></span>
              <div class="name-category">
                <p class="text mb-0 text-white" style="font-size:18px"><%= transaction.title %></p>
                <p class="text-dark-emphasis mb-0"><%= transaction.category.name %></p>
              </div>
            </div>
            <% if transaction.transaction_type == "income" %>
              <p class="text amount-font mb-0 fw-lighter" style='font-size:18px; color:#1bbb9b'><strong>+<%= transaction.formatted_amount %></strong></p>
            <% else %>
          <p class="text amount-font mb-0 text-danger fw-lighter" style='font-size:18px'><strong>-<%= transaction.formatted_amount %></strong></p>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
