<div class="container">
<%= simple_form_for [@goal, @transaction] do |f| %>
  <%= f.input :title %>
  <%= f.input :description%>
  <%= f.input :date%>
  <%= f.input :amount%>
  <%= f.input :category, collection: Category.all%>
  <%= f.submit class: "btn btn-success mt-3 lh-lg w-100" %>
<% end %>
<%= link_to "Go Back", transactions_path(@transactions), class: "btn btn-secondary btn-lg mt-3 w-100" %>
</div>
